extends base

block content 
  form(method="POST")
    input(name="name", placeholder="name", required, type="text", value=loggedInUser.name)
    input(name="email", placeholder="email", required, type="email", value=loggedInUser.email)
    input(name="username", placeholder="username", required, type="text", value=loggedInUser.username)
    input(name="location", placeholder="location", type="text", required, value=loggedInUser.location)
    input(type="submit", value="Edit Profile")
    hr
    a(href="change-password") Change Password &rarr;